* {

    box-sizing: border-box;

}
html {

    font-size: 1rem;

    body {

        width: @Standard-Width;
        margin: 0 auto;
    }

}

h1 {

    font-size: 1.5rem;

}

h2 {

    font-size: 1rem;

}

h3 {

    font-size: .95rem;

}

h4 {

    font-size: .85rem;

}

p {

    .p-font();


}

.container {

    .Nav-Top {
       

        a {

            .a-font();

        }

    }

    .a-top {

        .a-font();

    }
    .Nav-Bottom {

        a {

            .a-font();

        }


    }

}

@media(max-width: @Mobile-Width) {
    
    .container {
      
        width: 500px;
      
    }
}