
@Standard-Width: 800px;

@Mobile-Width: 500px;

* {

    box-sizing: border-box;

}
html {

    font-size: 1rem;

    body {

        width: @Standard-Width;
        margin: 0 auto;
    }

}

h1 {

    font-size: 1.5rem;

}

h2 {

    font-size: 1rem;

}

h3 {

    font-size: .95rem;

}

h4 {

    font-size: .85rem;

}

p {

    .p-font();


}

.container {

    display: flex;
    flex-direction: column;

    .Nav-Top {

        width: 100%;
        display: flex;
        background-color: white;
        justify-content: space-between;
        margin: 0 auto;

        a {

            .a-font();

        }

    }

    .a-top {

        .a-font();

    }
    .Nav-Bottom {

        width: 100%;
        display: flex;
        background-color: white;
        justify-content: space-between;
        margin: 0 auto;

        a {

            .a-font();    

        }


    }

}

@media(max-width: @Mobile-Width) {
    
    .container {
      
        width: 500px;
      
    }
}